# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Env
.env
*.env

# Node
node_modules/
frontend/build/
frontend/.env.local

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Celery
celerybeat-schedule
celerybeat.pid
